<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Ethos - Styles</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/vendor.css">

    <style type="text/css" media="screen">
        .s-styles { 
            padding-top: 16rem;
            padding-bottom: 16rem;
            background-color: #ffffff;
        }
    </style>

    <!-- script
    ================================================== -->
    <script src="static/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


   
    <!-- styles
    ================================================== -->
    <section id="styles" class="s-styles page-content">

        <div class="row add-bottom">

            <div class="column large-full">

                <h1 class="display-1" style="text-align: center;">TopWatch</h1>
                <br>
                <br>
                <br>

                <br>
                <br>
<br>
                <img src="static/images/Watchimg.jpg">
<br>
                <br>
                <br>
                
                <br>
                <h1 class="display-1" style="text-align: center;">6500$</h1>

                <br>
                <br>
                <button style="background-color: gray;"; class="btn h-full-width"> OUT OF STOCK (15 PER MONTH)</button>
               
                <form action="/wating" method="POST">
                    <button class="btn h-full-width"> Join the wating list</button>
                </form>


                <br>
                <br>
               
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3>Wating Lists</h3>
                <p class="lead">For a small amount of money, you can acsess the wating lists! When people are buying your watches, your place will change until you will be at the top 15 users on the list.But, you can pay money to spin a rollutte and get a chance of buying a watch right now! So what are you wating for!
                </p>

            </div>

        </div>

        <div class="row">

            <div class="column large-6 tab-full">
<h3></h3>
               

            </div>

           

                

                    
                

                

           

        </div> <!-- end row -->

      

    <!-- footer
    ================================================== -->
    <footer class="s-footer h-dark-bg">
        
        <div class="right-vert-line"></div>

        <div class="row s-footer__main">
            <div class="column large-6">
                <div class="section-intro">
                    <h3 class="subhead">Get In Touch</h3>

                    <h1 class="display-1">
                    Hey, my name is Yuval Berkovich and im a y2 student,
                    feel free to contact me!
                    </h1>
                </div>

                
            </div>

            <div class="column large-5">
                <div class="footer-contacts">
                    <div class="footer-contact-block">
                        <h5 class="footer-contact-block__header">
                            Email
                        </h5>
                        <p class="footer-contact-block__content">
                            <a href="mailto:#0">yuvalberkovich11@gmail.com</a>
                        </p>
                    </div> <!-- end footer-contact-block -->
                    <div class="footer-contact-block">
                        <h5 class="footer-contact-block__header">
                            Phone
                        </h5>
                        <p class="footer-contact-block__content">
                            <a href="tel:+1975432345">+972-544551033</a>
                        </p>
                    </div> <!-- end footer-contact-block -->
                    <br>
                    <div class="footer-contact-block">
                       
                        
                    </div> <!-- end footer-contact-block -->
                </div>
            </div>
        </div> <!-- end s-footer__main -->

        

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z"/></svg>
                </a>
            </div> <!-- end ss-go-top -->
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->


  

   


    <!-- Java Script
    ================================================== -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

</body>