<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>TopWatch</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/vendor.css">

    <!-- script
    ================================================== -->
    <script src="static/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
   

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    


    <!-- hero
    ================================================== -->
    <form action="/signup" method="POST">
    <section id="hero" class="s-hero target-section" data-parallax="scroll" data-image-src="static/images/openingimg.jpg" data-natural-width=2500 data-natural-height=2000 data-position-y=center>

        <div class="row hero-content">

            <div class="column large-full">

                 <label style="color: white;" for="sampleInput">Email</label>
                 <input class="h-full-width" name="email" type="email" placeholder="test@mailbox.com" id="sampleInput" required>
                <br>
                <label style="color: white;" for="sampleInput">Password</label>
                 <input class="h-full-width" name="password" type="password" id="sampleInput" required>
                 <br>
                   <label style="color: white;" for="sampleInput">Your Name</label>
                 <input class="h-full-width" name="full_name" type="text" id="sampleInput" required>

        </form>


                <a href="/signin"><button type="submit" class="btn btn--stroke btn--small">Join Us</button></a>



                <ul class="hero-social">
                    
                </ul> <!-- end hero-social -->

            </div> 

        </div> <!-- end hero-content -->

       


    <!-- Java Script
    ================================================== -->
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

</body>